body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

.header {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__close{
    display: none;
    background-color: inherit;
    color: inherit;
    height: 50px;
    width: 100px;

    border-radius: 30px;
    border: 0;
}

.header__close_active{
    display: block;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

main{
    position: relative;
}

.scroll::-webkit-scrollbar{
    width: 12px;
} 
.scroll::-webkit-scrollbar-track{
    border-radius: 5px;
    background-color: gray;
} 
.scroll::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: #333;
} 


@media (max-width: 768px) {
    .header {
        flex-direction: column;
    }
}