@import url('https://fonts.cdnfonts.com/css/inter');           
@import './value.css';
@import './font-style.css';

*{
    box-sizing: border-box;
    font-family: Inter;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    display: flex;
    width: 1440px;
    padding: 20px 40px 40px 40px;
    flex-direction: column;
    gap: 100px;
    margin: auto;
    overflow-x: hidden;
}

body {
    background-color: var(--background-body);
    color: var(--text-dark);
    margin: 0;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.button-icon-dark{
    transition: 0.5s;
}

.button-icon-dark:hover{
    background: var(--background-container);
    transition: 0.5s;
}

.button-icon-dark:hover > svg path{
    stroke: var(--text-light);
    transition: 0.5s;
}

@media (max-width: 1456px) {
    .container{
        width: 100vw;

        min-width: 768px;
        max-width: 1440px;
    }

    body{
        overflow-x: hidden;
    }
 }

@media (max-width: 767px) {
    .container{
        width: 100%;
        min-width: 380px;
        max-width: 767px;
        padding: 20px 16px 40px 16px;
    }
}

@media (hover: none) {
    .button-icon-dark{
        transition: none;
    }
    
    .button-icon-dark:hover{
        background: inherit;
        transition: none;
    }
    
    .button-icon-dark:hover > svg path{
        stroke: var(--text-dark);
        transition: none;
    }
}