#menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#menu > h1{
    display: none;
}

#menu > h2{
    width: 100%;
    max-width: 800px;
    text-align: center;
}

#menu_tab{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.menu_tab_tab-item{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 8px;
    padding: 7px 16px 7px 8px;
    border-radius: 100px;
    border: 1px solid var(--border-light, #C1B6AD);
    transition: 0.5s;
}

#menu .menu_tab_tab-item.active{
    background: var(--background-container, #665F55);
    color: var(--text-light, #E1D4C9);
}

.menu_tab_tab-item:hover{
    background: var(--background-container, #665F55);
    color: var(--text-light, #E1D4C9);
    transition: 0.5s;
}

.menu_tab_around-img{
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background: var(--border-light);
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_tab_tab-item:hover .menu_tab_around-img{
    background: var(--background-body, #E1D4C9);
    transition: 0.5s;
}

#menu .menu_tab_tab-item.active .menu_tab_around-img{
    background: var(--background-body, #E1D4C9);
    transition: 0.5s;
}

#menu_grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.menu_grid_priview{
    display: flex;
    width: 310px;
    height: 506px;
    flex-direction: column;
    align-items: center;
    border-radius: 40px;
    border: 1px solid var(--border-light, #C1B6AD);
}

.menu_grid_priview_description{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 310px);
    width: 100%;
}

.menu_grid_priview_description_info{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.menu_grid_priview-about-img{
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    /* position: relative; */
}

#menu .menu_grid_priview-about-img, #menu_dialog .menu_grid_priview-about-img{
    height: 310px;
}

.reduce-img{
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease-in-out;
}

.menu_grid_priview:hover .reduce-img{
    transform: scale(0.912);
}

.menu_open-all-priviews{
    display: none;
}

/* DIALOG */

body.hidden{
    overflow-y: hidden;
}

#menu_dialog{
    position: fixed;
    top: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0.249);
    color: var(--text-dark);
}

#menu_dialog > .menu_dialog_around{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_dialog_priview-value{
    width: 800px;
    height: 504px;
    padding: 16px;
    border-radius: 40px;
    background: var(--background-body, #E1D4C9);
    display: flex;
    gap: 20px
}

.menu_dialog_priview-value_info{
    width: calc(100% - (310px + 20px));
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#menu_dialog .dialogClose{
    padding: 10px 78px;
    border-radius: 100px;
    border: 1px solid var(--border-dark, #665F55);
    background-color: inherit;
    outline: none;
}

#menu_dialog .menu_grid_priview-about-img{
    width: 310px;
}

.menu_dialog_priview-value_info_head{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.menu_dialog_priview-value_info_tabs{
    padding-top: 8px;
    display: flex;
    gap: 8px;
}
.menu_dialog_priview-value_info_tabs >.tab-item{
    display: flex;
    height: 46px;
    padding: 8px 16px 8px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid var(--border-light, #C1B6AD);
}

.menu_dialog_priview-value_info_tabs >.tab-item > .icon{
    width: 30px;
    height: 30px;
    display: flex;
    /* padding: 3px 7px 3px 8px; */
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: var(--border-light, #C1B6AD);
}

.menu_dialog_priview-value_info_price{
    display: flex;
    justify-content: space-between;
}

.menu_dialog_priview-value_info_warning{
    display: flex;
    padding: 12px 0px;
    align-items: flex-start;
    align-self: stretch;
    gap: 8px;
    border-top: 1px solid var(--border-light, #C1B6AD);
}

@media (min-width: 1089px) and (max-width: 1439px)  {
    #menu_grid{
        width: 1000px;
    }
}
@media (max-width: 1439px)  {
    #menu_grid{
        width: 1000px;
    }

    #menu_grid.active > :nth-child(n + 5) {
        display: none;
    }

    .menu_open-all-priviews.active{
        display: flex;
        width: 60px;
        height: 60px;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        border: 1px solid var(--border-dark, #665F55);
    }
}

@media (max-width: 768px) {

}
@media (max-width: 767px) {
    #menu_tab{
        gap: 8px;
    }
}

@media (hover: none) {
    .menu_tab_tab-item:hover{
        background: inherit;
        color: inherit;
        transition: none;
    }

    .menu_tab_tab-item:hover .menu_tab_around-img{
        background: var(--border-light);
        transition: none;
    }

    .menu_grid_priview:hover .reduce-img{
        transform: unset;
    }
}