.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

header .header_menu{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .header_menu > *{
    display: block;
}

header .header_menu > a img{
    height: 60px;
}

header .header_menu ul{
    display: flex;
    gap: 40px;
    flex: 0 0 auto;
    padding: 0;
    margin: 0;
}

header .header_menu ul li{
    list-style: none;
}

.header_menu > span, .header_menu > span a{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.header_menu > .link-button  img{
    margin-left: 8px;
}

.header .header_menu .link-button{
    padding-bottom: 2px;
    border-bottom: 2px solid var(--background-body);
    transition: 0.5s;
}

.header .header_menu .link-button:hover{
    border-bottom-color: var(--text-dark);
    transition: 0.5s;
}

.header .header_menu .active{
    border-bottom-color: var(--text-dark);
}

/* .header_menu > span:hover{
    border-bottom: 2px solid var(--text-dark);
    padding-bottom: 2px;
} */