.header{
  padding: 10px;
}

.game{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 40px
}

.game__container{
  min-width: 700px;
  width: 75vw;

  border: 1px solid black;
}

.game_field-words{
  display: flex;
  background-color: #EFE5DF;
  height: 38px;
}

.game__card{
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;

  font-weight: 600;

  border: 1px solid black;
  background-color: white;
  cursor: pointer;

  position: relative;
}

.game__card_before::before, .game__card_after::after{
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border: inherit;
  border-left: 0;
  border-radius: 43%;
}

.game__card_before::before{
  background-color: #EFE5DF;
  z-index: 1;
  width: 9px;
  left: -1px;
}

.game__card_after::after{
  background-color: white;
  z-index: 2;
  right: -11px;
}

.game_card_right{
  color: green;
}

.game_card_wrong{
  color: red;
}

.game__card_move {
  animation-name: slideIn;
  animation-duration: 0.3s;
}

@keyframes slideIn {
  0% { opacity: 0}
  100% { opacity: 1}
}

.game_buttons{
  display: flex;
  gap: 30px;
}