.header{
  padding: 10px;
}

.game{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 40px
}

.game__container{
  min-width: 700px;
  width: 75vw;

  border: 1px solid black;
}

.game__random-cards{
  display: flex;
  gap: 10px;

  padding: 3px 3px;

  height: 38px;
}

.game_card{
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 600;

  border: 1px solid black;
  cursor: pointer;
}

.game_card_right{
  color: green;
}

.game_card_wrong{
  color: red;
}