@import './app/style/value.scss';

*{
  box-sizing: border-box;
}
body {
  margin: 0;
}
input {
  outline: none;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}

.container{
  background-color: $fonColor;
}

.button{
  height: min-content;

  background-color: $mainColor;
  padding: 0.3rem 1rem;

  margin: 0.3rem;

  font-size: 0.8rem;

  color: white;
}

@media (hover: hover) {
  .button:hover {
    background-color: $mainColorActive
  }
}

.button:disabled{
  background-color: gray;
}

@import './app/layuout.scss';
