@import './header/header.scss';
@import './messenger-window/MessengerWindow.scss';
@import './footer/footer.scss';

.messenger{
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 10px;
}