* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 700px;
}
.main {
  display: flex;
  position: relative;

  height: calc(100vh - $headerHight);
  min-height: 700px;
}

@media (max-width: 340px) {
  .main{
    height: calc(100vh - 80px);
  }
}

//HEADER
.header {
  height: $headerHight;
  padding: 10px 15px;

  background-color: $buttonBackColor;

  display: flex;
  justify-content: space-between;
}
.header__button {
  width: min-content;
  color: $buttonColor;
  background-color: $buttonBackColor;
  border: 0;

  font-size: 16px;
  white-space: nowrap;
}
.header_style-active {
  border-bottom: 1px solid black;
}
.header_style-active,
.header_style-active * {
  background-color: $activeButoon;
  color: $switchNonogramColor;
}

.header__button-aside,
.header__history {
  font-weight: 600;
  height: 33px;
  width: min-content;
  padding: 0 5px;
  border-radius: 15px;
}
.header__button-background:focus-visible {
  border: 0;
}
.header__history {
  padding: 0 10px;
  margin-left: 15px;
}
.header__button-top_active,
.header__button-aside_active {
  background-color: $activeButoon;
}
.header_style-active .header__button-top_active,
.header_style-active .header__button-aside_active {
  color: $buttonColor;
  background-color: $buttonBackColor;
}
.header__head-right{
  display: flex;
  align-items: center;
}
.header__button-sound{
  z-index: 1;
  display: flex;
}
.header__button-sound_active{
  background-color: white;
  border-radius: 7px;
}
.header__buttons-sounds{
  display: none;
  align-items: center;
  justify-content: center;
  gap: 5px;

  height: 20px;
  width: 100px;

  background-color: inherit;
}
.header__buttons-sounds_active{
  display: flex;
}
.header__button-sound_active .header__img-sound{
  background-color: white;
}
.header__square-sound,.header__cross-sounds, .header__void-sounds, .header__win-sounds{
  width: 15px;
  height: 15px;
  background-color: white;
}
.header__square-sound{
  background-color: black;
}
.header__square-sound_active{
  background-color: inherit;
}
.header__cross-sounds{
  color: red;
}
.header__cross-sounds_active{
  color: white;
}
.header__void-sounds{
  border: 1px solid black;
}
.header__void-sounds_active{
  border: 0;
}
.header__win-sounds{
  width: 25px;
  color: black;
  font-size: 14px;
}
.header__win-sounds_active{
  color: white;
}
.header__button-background {
  padding-bottom: 5px;
  border-radius: 5px;
  font-size: 25px;
}

@media (max-width: 500px) {
  .header__button-sound{
    position: relative;
    flex-direction: column;
  }
  .header__button-sound_active{
    border: 1px solid $buttonBackColor;
    border-bottom: 0;
    border-radius: 10px 10px 0 0;
  }
  .header__buttons-sounds_active{
    position: absolute;
    top: 20px;
    left: -1px;

    width: 34px;
    height: 100px;

    display: flex;
    flex-direction: column;

    border: 1px solid $buttonBackColor;
    border-top: 0;
    border-radius: 0 0 10px 10px;
  }
}
@media (max-width: 340px) {
  .header{
    height: 80px;
  }
}

//Switch Nonogram
.switch-nonogram {
  height: 100%;
  width: 250px;
  padding-top: 20px;
  overflow-y: auto;

  color: $switchNonogramColor;
  background-color: rgb(217, 221, 206);

  text-align: center;

  display: none;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  z-index: 1;
}
.switch-nonogram_style-active {
  background-color: $activeButoon;
}
.switch-nonogram_active {
  display: flex;
}
.switch-nonogram__title {
  border-bottom: 2px solid black;
}
.switch-nonogram__title,
.switch-nonogram__name {
  margin: 0;
}
.switch-nonogram__container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 20px 0;
}
.switch-nonogram__canvas {
  width: 100px;
  height: 100px;
}

@media (max-width: 768px) {
  .switch-nonogram {
    position: absolute;
    width: 100%;
    height: min-content;

    flex-direction: row;
    justify-content: center;
    gap: 15vw;
  }
  .switch-nonogram__section {
    height: inherit;
  }
}
@media (max-width: 500px) {
  .switch-nonogram{
    flex-wrap: wrap;
  }
}

//Top/History
.top-nonogram {
  width: 200px;
  padding: 20px;

  border-radius: 0 0 0 50px;

  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 10px;

  text-align: center;

  position: absolute;
  right: 0;

  color: $switchNonogramBackColor;
  background-color: $buttonBackColor;
}
.main_style-active .top-nonogram {
  background-color: $activeButoon;
}
.top-nonogram_active {
  display: flex;
}
.top-nonogram__title {
  margin: 0;
}

//Table nonogram
.article-nonogram {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  background-color: rgb(217, 221, 206);
}
.article-nonogram_style-active {
  background-color: $buttonBackColor;
  color: white;
}

main .article-nonogram.article-nonogram_style-active * {
  border-color: white;
}
.nonogram {
  border-collapse: collapse;
}
.nonogram_style-active * {
  border: $tableColorActive;
}
.nonogram__border {
  width: 0;
  padding: 0;
  background-color: $tableColor;
  border: 1px solid $tableColor;
}
.nonogram__border-head {
  border: 2px solid $tableColor;
}
.nonogram__cell {
  width: 22px;
  height: 22px;
  border: 1px solid $tableColor;

  position: relative;

  .nonogram__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.nonogram__side-help,
.nonogram__head-help:first-of-type {
  text-align: end;
  border-right: 2px solid $tableColor;
}
.nonogram__head-help {
  text-align: center;
  vertical-align: bottom;
  border-bottom: 2px solid $tableColor;
}
.nonogram__timer {
  font-size: 42px;
  font-weight: 600;

  color: $buttonBackColor;
}
.article-nonogram_style-active .nonogram__timer {
  color: white;
}
@media (max-width: 390px) {
  .nonogram__cell {
    width: 20px;
    height: 20px;
    border: 1px solid $tableColor;
    padding: 0;
  
    position: relative;
  
    .nonogram__img {
      padding: 0 0 1px 1px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

//ContainerButtons
.nonogram__container-buttons {
  width: 220px;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 15px;
}
.nonogram__button {
  font-size: 18px;

  width: 100px;
  padding: 5px 15px;
  border: 0;
  border-radius: 15px;

  background-color: $buttonBackColor;
  color: $buttonColor;
}
.article-nonogram_style-active img {
  stroke: white;
}
.article-nonogram_style-active .nonogram__button {
  background-color: $buttonBackColorActive;
  color: $buttonColorActive;
}

//DIALOG
.dialog-win {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  border: 0;

  background-color: $dialogBackColor;
}
.dialog-win__casing {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dialog-win__container {
  width: 400px;
  height: 250px;

  color: $buttonColor;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dialog-win__button {
  background-color: $activeButoon;
  color: $buttonColor;

  border: 0;
  border-radius: 15px;
  padding: 5px 10px;

  font-size: 20px;
  font-weight: 600;

  width: min-content;
}

@media (max-width: 768px) {
  .dialog-win__container {
    width: 300px;
  }
}
