* {
  box-sizing: border-box;
}

.nonogram__cell{
  width: 22px;
  height: 22px;
  border: 1px solid black;

  position: relative;

  .nonogram__img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.nonogram__side-help{
  text-align: end;
}

.nonogram__head-help{
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-align: end;
  vertical-align: bottom;
}