$activeButoon: #6f704b;

//HEAD
$headerHight: 60px;
$buttonColor: white;
$buttonBackColor: rgb(50, 50, 50);

//MAIN
$switchNonogramBackColor: white;
$switchNonogramColor: black;
$tableColor: black;

//DIALOG
$dialogBackColor: rgba(0, 0, 0, 0.8);
$answerBackColor: white;