$activeButoon: #131d6b;

//HEAD
$headerHight: 60px;
$buttonColor: white;
$buttonBackColor: rgba(0, 0, 0, 0.85);

//MAIN
$switchNonogramBackColor: white;
$switchNonogramColor: black;
$tableColor: black;

//DIALOG
$dialogBackColor: rgba(0, 0, 0, 0.8);
$answerBackColor: white;