@import url('https://fonts.cdnfonts.com/css/inter');           
@import '../assets/style/value.css';
@import '../assets/style/font-style.css';
/* Import part of loyout */
@import './assets/style/header.css';
@import './assets/style/favorite-coffee.css';
@import './assets/style/about.css';
@import './assets/style/mobile-app.css';
@import './assets/style/contacts.css';

*{
    box-sizing: border-box;
    font-family: Inter;
}

.container{
    display: flex;
    width: 1440px;
    padding: 20px 40px 40px 40px;
    flex-direction: column;
    gap: 100px;
    margin: auto;
}
body {
    background-color: var(--background-body);
    color: var(--text-dark);
}