.container{
  min-width: 380px;
  max-width: 768px;
  height: 100vh;

  margin: auto;
}

@import './components/signIn/signIn.scss';
@import './components/messenger/messenger.scss';
@import './components/Dialog/dialog.scss';
@import './components/about/about.scss';
@import './components/disconnect/disconnect.scss'