.workshop{
  width: min-content;
  padding: 1rem;

  border-radius: 2rem;
  margin: 0.5rem;
  margin-bottom: 0;

  background-color: $fonColor;
}

.workshop__title{
  margin-bottom: 0.5rem;
}

.workshop__form{
  display: flex;
  align-items: center;
}

.workshop__name{
  margin-right: 0.3rem;
  padding: 0.2rem;

  border-width: 1px;
  border-radius: 0.6rem;

  font-size: 1rem;
}

.workshop__color{
  background-color: white;
}

.workshop__color:disabled{
  background-color: inherit;
}

.workshop__global{
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}