
#enjoy_hero{
    height: 644px;
    width: 100%;
    border-radius: 40px;
    overflow: hidden;
    color: var(--text-light);
    position: relative;
    z-index: 0;
}

#enjoy_hero_video{
    /* background-image: url(../img/img-hero.jpg); */
    /* background-size: cover;
    background-position: center; */
    height: inherit;
    width: inherit;
    /* border-radius: 40px; */
    /* padding: 100px 100px; */
    object-fit: cover;
}

#enjoy_hero_ofer{
    position: absolute;
    top: 0;
    left: 0;
    /* bottom: 100%; */
    width: 730px;
    height: 444px;
    display: flex;
    flex-direction: column;
    gap: 40px;  
    padding: 100px;  
}

#enjoy_hero_ofer_button-menu{
    width: 200px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    background: var(--background-body);
    color: var(--text-dark);;
}

#enjoy_hero_ofer_button-menu > span{
    transition: 0.5s;
    margin-left: 28px;
}

#enjoy_hero_ofer_button-menu:hover > span{
    transition: 0.5s;
    margin-left: 0;
}

#enjoy_hero_ofer_button-menu > img{
    height: 20px;
    opacity: 0;
    transition: 0.5s;
}
#enjoy_hero_ofer_button-menu:hover > img{
    opacity: 1;
    transition: 0.5s;
}

@media (max-width: 992px) {
    #enjoy_hero_ofer{
        width: 650px;
        padding: 100px 60px;
    }

    #enjoy_hero_ofer_button-menu > span{
        margin-left: 0;
    }

    #enjoy_hero_ofer_button-menu > img{
        opacity: 1;
    }
}

@media (max-width: 767px) {
    #enjoy_hero_ofer{
        padding: 60px 16px;
        width: 100%;
    }

    #enjoy_hero{
        height: 552px;
    }
}