#enjoy_hero{
    background-image: url(../img/img-hero.jpg);
    background-size: cover;
    background-position: center;
    height: 644px;
    width: 100%;
    border-radius: 40px;
    padding: 100px 100px;
    color: var(--text-light);
}

#enjoy_hero_ofer{
    width: 530px;
    height: 444px;
    display: flex;
    flex-direction: column;
    gap: 40px;    
}

#enjoy_hero_ofer_button-menu{
    width: 200px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    background: var(--background-body);
    color: var(--text-dark);;
}

#enjoy_hero_ofer_button-menu > span{
    transition: 0.5s;
    margin-left: 28px;
}

#enjoy_hero_ofer_button-menu:hover > span{
    transition: 0.5s;
    margin-left: 0;
}

#enjoy_hero_ofer_button-menu > img{
    height: 20px;
    opacity: 0;
    transition: 0.5s;
}
#enjoy_hero_ofer_button-menu:hover > img{
    opacity: 1;
    transition: 0.5s;
}