.favorite-coffee{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#slider_slider{
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 0 4px;
}
.slider_arrow{
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: 1px solid var(--border-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.slider_arrow:hover{
    background: var(--background-container);
    transition: 0.5s;
}
.slider_arrow:hover > svg path{
    stroke: var(--text-light);
    transition: 0.5s;
}

.slider_arrow:active{
    background: inherit;
    border-color: var(--border-light, #C1B6AD);
    transition: 0.5s;
}

.slider_arrow:active > svg path{
    stroke: var(--border-light);
    transition: 0.5s;
}

#slider_slider_carousel{
    width: 480px;
    overflow: hidden;
}

.slider_slider_carousel_swap{
    display: flex;
    position: relative;
    right: 0;
    transition: right 0.5s;
}

.slider_slide{
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: 0.5s;
}

.slider_slide > img{
    width: 480px;
    height: 480px;
}

.slider_description{
    width: 480px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#controls{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
}

#controls > .control{
    width: 40px;
    height: 4px;
    border-radius: 100px;
    background: var(--border-light);
    position: relative;
    overflow: hidden;
}

#controls > .control::before{
    content: '';
    width: inherit;
    height: inherit;
    background: var(--border-dark);
    position: absolute;
    top: 0;
    left: -100%;
}

#controls .control_active.control::before{
    /* left: 0; */
    animation: slideAnimation 5s linear; 
    /* transition: left 5s linear; */
}

#controls .control_active.pause.control::before {
    animation-play-state: paused;
  }

@keyframes slideAnimation {
    to {
        left: 0;
    }
}

@media (hover: none) {
    .slider_arrow:hover{
        background: inherit;
        transition: none;
    }
    
    .slider_arrow:hover > svg path{
        stroke: var(--text-dark);
    }

    .slider_arrow:active{
        border-color: var(--border-dark);
    }
    
    .slider_arrow:active > svg path{
        stroke: var(--text-dark);
    }
}

@media (max-width: 992px){
    #slider_slider{
        padding: 0;
    }
}

@media (max-width: 767px) {
    .slider_arrow{
        display: none;
    }

    .slider_slide{
        max-width: 480px;
        min-width: 348px;
    }

    #slider_slider{
        justify-content: center;
    }

    #slider .slider_slide > *{
        width: 100%;
        height: 100%;
    }

    #slider_slider_carousel{
        width: 348px;
    }
}