.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

header .header_menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .header_menu > *{

    display: block;
}

header .header_menu ul{
    display: flex;
    gap: 40px;
    flex: 0 0 auto;
    padding: 0;
}


header .header_menu ul li{
    list-style: none;
}

.header_menu > span{
    padding-bottom: 4px;
    box-sizing: border-box;
}

.header_menu > span > img{
    margin-left: 8px;
}

.header_menu > span:hover{
    border-bottom: 2px solid var(--text-dark);
    padding-bottom: 2px;
}

#enjoy_hero{
    background-image: url(../img/img-hero.jpg);
    background-size: cover;
    background-position: center;
    height: 644px;
    width: 100%;
    border-radius: 40px;
    padding: 100px 100px;
    color: var(--text-light);
}

#enjoy_hero_ofer{
    width: 530px;
    height: 444px;
    display: flex;
    flex-direction: column;
    gap: 40px;    
}

#enjoy_hero_ofer_button-menu{
    width: 200px;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 8px;
    border-radius: 100px;
    background: var(--background-body);
    color: var(--text-dark);
}
#enjoy_hero_ofer_button-menu > img{
    display: none;
}
#enjoy_hero_ofer_button-menu:hover > img{
    display: block;
}