#mobile-app{
    display: flex;
    gap: 100px;
    align-items: center;
}

#offer{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#offer_buttons{
    display: flex;
    gap: 20px;
}

#offer_buttons > .offer_button{
    width: 200px;
    display: flex;
    padding: 12px 20px;
    border-radius: 100px;
    border: 1px solid var(--border-dark);
    gap: 8px;
    transition: 0.5s;
}

#offer_buttons > .offer_button:hover{
    border-radius: 100px;
    background: var(--background-container);
    color: var(--text-light);
    transition: 0.5s;
}
.offer_button:hover > svg path{
    fill: var(--text-light);
}

@media (max-width: 1439px) {
    #mobile-app{
        flex-direction: column;
    }
}

@media (max-width: 992px) {
    
}

@media (hover: none) {
    #offer_buttons > .offer_button:hover{
        background: inherit;
        color: inherit;
        transition: none;
    }

    .offer_button:hover > svg path{
        fill: var(--text-dark);
        transition: none;
    }
}

@media (max-width: 767px) {
    #offer_buttons{
        flex-direction: column;
    }

    .mobile-app_img{
        width: 100%;
        max-width: 480px;
        min-width: 348px;
    }

    #mobile-app{
        gap: 40px;
    }
}