@import './app/style/value.scss';

*{
  box-sizing: border-box;
}

body {
  margin: 0;
}

input {
  outline: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.button {
  background-color: $mainColor;
  padding: 7px 35px;

  font-size: 1rem;

  color: white;

  cursor: pointer;
}
